:root {
  font-size: 62.5%; /*10px*/

  /*VARIABLES*/

  /*color*/

  --color-header:  #8E9AAF;
  --color-bg-h1: #CBC0D3;
  --color-h1: #ffffff;
  --color-bg-main: #EFF1FF;
  --color-main-p: #23053A; 
  --color-figcaption: #4A4E69;
  --color-bg-figcaption: #FEEAFA;


  /*Font-family*/
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

}

body {
  max-width: 38.4rem;
  height: 199.5rem;
  margin: auto;

 font-size: 1.6 rem;
}

header {
  max-width: 38.4rem;
  height: 27.9rem;
  background-color: var(--color-header);

  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: var(--color-h1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.purple-background {
  width: 38.4rem;
  height: 4.9rem;
  background-color: var(--color-bg-h1);
  text-align: center;

  box-sizing: border-box;
  padding-top: 8px;
 
}

main {
  max-width: 38.4rem;
  height: 171.7rem;
  background-color: var(--color-bg-main);

}

.wrapper {
  max-width: 32.0rem;
  height: 164.2rem;
  border-radius: 2rem;
  margin: auto; 

}

main  p {
  max-width: 30.5rem;
  height: 7.5rem;

  font-family: var(--ff-texting);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--color-main-p);
  text-align: center;

  padding-top: 1.4rem;
  margin-bottom: 6.3rem;

}

.sorvete,
.shakes,
.massa,
.picoles {
  position: relative;
}

figcaption {

  max-width: 11.2rem;
  height: 3.5rem;
  border-radius: 2.0rem;
  background-color: var(--color-bg-figcaption);

  position: absolute;
  top: 1.6rem;
  left: 19.2rem;
  right: 1.6rem;
  bottom: 19.9rem;

  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 5%;
  color: var(--color-figcaption);
  text-align: center;
}

.shakes img,
.massa img,
.picoles img {
  margin-top: 3.2rem;
}

img {
  /* transition: transform 20mms; */
  animation: move 2s;
}

/* .sorvete img:hover,
  .shakes img:hover,
  .massa img:hover,
  .picoles img:hover {
     transform: scale(1.1);
      opacity: 0.5; 
} */



.shakes figcaption,
.massa figcaption,
.picoles figcaption {
  margin-top: 3.2rem;
}

@keyframes move{
  0% {
    transform: scale(1.2);
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
  }
}




